extends ../layout.pug

block title
  title= poll.title

block content
  .poll-content
    h1.title.is-1= poll.body
    ul.poll-options
      each option in poll.options
        li
          .poll-option-emoji= option.emoji
          .poll-option-label= option.label
    h3.subtitle.is-3 Text your response to:
    .poll-number= formatPhoneNumber(poll.number)
  .poll-results
    h4.subtitle.is-4.poll-results-count No responses yet
    .poll-results-chart
      .poll-results-legend
        each option in poll.options
         .poll-results-legend-item= option.emoji
      .poll-results-bars
  .js-poll(data-slug=poll.slug data-options=poll.options)

block scripts
  script(src='/js/poll.js')
